body{
	background-color: #d2d2c1;
	background-image: url('Imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

#principal{
	width: 900px;
}

#menu{
	background-color: #c5c5b2;
	border-radius: 120px;
 	padding: 15px;
}

a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
}

#main{
	padding: 10px;
	background-color: #F4EFD4;
	text-align: left;
	width: 900px;

}

.centralizar{
	text-align: center;
}

h1{
	color: #828271;
	font-size: 1.2em;
}

.img-campanhas{
	border: 6px outset #c5c5b2;
}